.container {
  max-width: 760px;
  margin: 100px auto;
}

form {
  padding: 2em;
  margin-top: 10px;
}

input {
  border: 1px solid #4b455f;
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 1re;
  border-radius: 5px;
}

button {
  background: #eb00ac;
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin: 20px;
  cursor: pointer;
  border-radius: 0.9em;
  text-transform: uppercase;
}

label {
  display: block;
  margin-top: 40px;
}

.message {
  background: green;
  border-radius: 5px;
  width: 656px;
  padding: 1rem;
  color: white;
  margin-left: 50px;
  margin-bottom: -60px;
  text-align: center;
}
