@import "imports/links.css";
@import "imports/variables.css";

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: #4b455f;
}

h1,
h2 {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4b455f;
  color: #ffffff;
}

img {
  width: 100%;
  border-radius: 10px;
  filter: drop-shadow(0 5px 5px #4b4b4b);
}

.logo {
  width: 120px;
  margin: 20px;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 45px;
  background: #4b455f;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 10px;
}

nav li {
  display: block;
  padding: 20px 20px;
}

.active {
  text-decoration: underline #eb00ac;
}

label {
  margin: 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.product img {
  grid-column: -1/1;
}

.product h2,
.product h3,
.product p {
  text-align: center;
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  color: #4b455f;
  font-size: 0.7em;
}
